@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lora');


$base-font: 1.1rem 'Source Sans Pro', sans-serif;
$title-font: bold 1.2rem 'Lora', serif;
$subtitle-font: .9rem 'Source Sans Pro', sans-serif;

.callout {
	font: $title-font;
}