// globals
@import 'globals/typography';
@import 'globals/color';

// components
@import 'components/navigation';
@import 'components/footer';

body {
	color: $body-color;
	font: $base-font;
	height: 100%
}

h1, h2 {
	font: $title-font;
	color: $primary-dark;
}

h3, h4, h5, h6 {
	font: $subtitle-font;
	color: $primary-dark;
}

a {
	text-decoration: none;
	color: $secondary-dark;

/*  &:visited{
	color: $secondary;
  }
*/

  &:hover, &:focus, &:active {
    font-weight: bold;
  }
}

.navbar, footer {
	padding: 0rem 2rem 0rem 2rem;
}

.logo {
	font: $base-font;
	font-size: 1.5rem;
	font-weight: 700;
	color: $body-color;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../imgs/american-public-power-association-419672-unsplash.jpg");

    /* Set a specific height */
    height: 15rem;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    /*text-align: center;*/
    position: absolute;
    top: 30%;
	
	h1 {
		padding-left: 7%;
		max-width: 60%;
		color: $secondary-light;
		font-size: 1.7rem;
	}

	@media all and (max-width: 600px) {
		h1 {
			padding: 2%;
			max-width: 100%;
			font-size: 1.7rem;
		}
	}

}

.content {
	max-width: 85%;
	margin: auto;
	padding: 2rem 0rem 2rem 0rem;
}





